<div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Schadule</h4>
              <p class="card-description">Week 1</p>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Day</th>
                      <th>Time</th>
                      <th>Red Team</th>
                      <th>Blue Team</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Monday</td>
                      <td>17.30</td>
                      <td>MONYET 1</td>
                      
                    </tr>
                    <tr>
                      <td>Tuesday</td>
                      <td>17.30</td>
                      <td>NUGRAHA MONYET</td>
                      <td>MONYET Deva</td>
                    </tr>
                    <tr>
                      <td>Wednesday</td>
                      <td>17.30</td>
                      <td>Monyet 1</td>
                      <td>Monyet Nugraha</td>
                    </tr>
                    <tr>
                      <td>Friday</td>
                      <td>17.30</td>
                      <td>Nugraha MONYET</td>
                      <td>Dnug MONYET</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>