<div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7">
        <div class="card p-3 py-4">
          <div class="text-center">
            <div class="text-center">
              <img src="https://img2.pngdownload.id/20180804/zvu/kisspng-clip-art-scalable-vector-graphics-computer-icons-m-man-with-hat-svg-png-icon-free-download-37695-5b664e37892b13.4625366215334313515619.jpg" width="120" class="rounded-circle" />
            </div>
            <div class="text-center mt-3">
              <span class="bg-secondary p-1 px-4 rounded text-white">dnug</span>
              <h5 class="mt-2 mb-0">Deva Nugraha</h5>
              <span>Laki-Laki</span>
              <div class="px-4 mt-1">
                <p class="fonts">Aku Ganteng Tapi Aku Selow</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>